.DS_Store
venv
.~*
tcat*
__pycache__
__pycache__/*
vagrant/tcatbackend.pem
vagrant/.vagrant

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

