<div class="happy fadein">
  <div class="filter fadein">
    <p class="text text-white text-large">
      Apply to our Core Team or Training Programs
    </p>
  </div>
</div>

<div class="white-barz fadein">
  <div class="slogan modified-slogan">
    Applications
  </div>
  <p class="text-black text-paragraph">
    Applications are closed for Fall 2016.  Please check back Spring 2017 if you are interested in applying!
  </p>


</div>
