<div class="happy fadein">
  <div class="filter fadein">
    <p class="text text-white text-large">
      Apply to our Core Team or Training Programs
    </p>
  </div>
</div>

<div class="white-barz fadein">
  <div class="slogan modified-slogan">
    Applications (Due Monday, February 6 @ 11:59pm)
  </div>
  <p class="text-black text-paragraph">
    <strong>Intro to iOS App Development</strong></br>
    Intro to iOS App Development Course is a training program for anyone interested in making native iPhone applications. No prior iOS experience is required. We will start with the basics of Xcode and how to make a simple app, and work our way towards more advanced techniques as the course progresses. In previous semesters, we examined features from popular apps such as Facebook, Instagram, Snapchat, and Tinder. By the end of the course, you should have all the experience necessary to create your own app and distribute it on the iOS App Store. Pre-requisites: Be currently enrolled, or have previously taken an intro to computer science course (CS 1110 or equivalent). You will need to have access to a MacBook or a PC running MacOS to participate in the course.
    </br>
    <strong>Apps are now closed</strong>
  </br>
  </br>
    <strong>Intro to Digital Product Design</strong></br>
    The Intro to Digital Product Design Course is a training program for anyone interested in UX / UI and Product Design careers in digital experiences. We move through an intensive workflow of an entire design process that you'd most likely see in design-driven companies like Airbnb, Facebook, Google, and more. In this course, you will learn how to ideate solutions for existing applications and execute thoughtful solutions with Sketch, prototyping tools, and Origami. Pre-requisites: Have basic prior design knowledge in Adobe Photoshop, Illustrator or other graphic design programs. It's preferred that you have access to a MacBook and Sketch but you may also use Windows or alternative graphic design programs.
    </br>
    <strong>Apps are now closed</strong>
  </br>
  </br>
    <strong>Core Team Application</strong></br>
    We are always looking for new talented iOS developers, backend developers, and designers to join our Core Team! Our members are passionate about taking apps from idea to product, culminating with releases on the App Store. If you're interested in working in a startup environment and gaining practical experience in software development, design, and product management, then CUAppDev is the team for you!
    </br> 
    <strong>Apps are now closed</strong>
</div>
