<div class="happy fadein">
	<div class="filter fadein">
		<p class="text text-white text-large">
			Apply to our Core Team or Training Programs
		</p>
	</div> 
</div>

<div class="white-barz fadein">
	<div class="slogan modified-slogan">
		Applications <strong> (Due 9/14, 11:59pm) </strong> 
	</div>
	<p class="text-black text-paragraph">
		<strong>Intro to iOS App Development</strong></br>
		Perfect for those looking to become acquainted with mobile development. </br><a class="red-link" href="https://cuappdev.typeform.com/to/COz8cZ" target="_blank">Apply</a> 
	</br> 
	</br> 
		<strong>Intro to Digital Product Design</strong></br>
		Learn about generating mockups, designs ideologies, UI / UX testing, etc. </br><a class="red-link" href="https://cuappdev.typeform.com/to/zdhdZs" target="_blank">Apply</a> 
	</br> 
	</br>
		<strong>Core Team Application</strong></br>
		We have positions for mobile developers, backend developers, DevOps architects, and designers. </br><a class="red-link" href="https://cuappdev.typeform.com/to/oglunT" target="_blank">Apply</a> 
	</p>


</div> 