<%= render partial: 'components/headers/apply_header' %>

<div class="navbar-change white section fadein">
  <div class="section-title">
    Spring 2018 Applications
  </div>

  <!-- Course Stuff -->
  <div class="app-section">
    <p class="subtitle"><strong>Intro to iOS App Development (Due Friday, Feb. 16 at 11:59pm)</strong></p>
    <p>
      Intro to iOS App Development Course is a course for anyone interested in making native iPhone applications. No prior iOS experience is required. We will start with the basics of Xcode and how to make a simple app, and work our way towards more advanced techniques as the course progresses. In previous semesters, we examined features from popular apps such as Facebook, Instagram, Snapchat, and Tinder. By the end of the course, you should have all the experience necessary to create your own app and distribute it on the iOS App Store.
       Pre-requisites: Be currently enrolled, or have previously taken an intro to computer science course (CS 1110 or equivalent). You will need to have access to a MacBook or a PC running MacOS to participate in the course.
    </p>
    <p>
      <a href='https://cornellappdev.typeform.com/to/U1Z0VT' target="_blank" class="red-link">iOS Course Application</a>
      (Class will be every Monday 7-8pm starting Feb. 26)
    </p>
    <p><i>Note: We will be accept applications on a rolling basis and will reach out by email whether you have been accepted as soon as we can.</i></p>
  </div>

  <div class="app-section">
    <p class="subtitle"><strong>Principles of Backend Engineering (Due Friday, Feb. 16 at 11:59pm)</strong></p>
    <p>
      Principles of Backend Engineering is a seminar-based course introducing backend / API development to students with some computing exposure.
      This course features lectures and programming assignments that flesh out the concepts and ideologies behind core backend development on a server.
      Topics include basic networking, SQL / NoSQL databases, authentication, software engineering concepts / strategies, DevOps and more.
    </p>
    <p>
      <a href='https://cornellappdev.typeform.com/to/qxCBSP' target="_blank" class="red-link">Backend Course Application</a>
      (Class will be every Monday 8-9pm starting Feb. 26)
    </p>
    <p><i>Note: We will be accept applications on a rolling basis and will reach out by email whether you have been accepted as soon as we can.</i></p>
  </div>

  <div class="app-section">
    <p class="subtitle"><strong>Intro to Digital Product Design (Due Friday, Feb. 16 at 11:59pm)</strong></p>
    <p>
      The Intro to Digital Product Design Course is a course for anyone interested in UX / UI and Product Design careers in digital experiences. We move through an intensive workflow of an entire design process that you'd most likely see in design-driven companies like Airbnb, Facebook, Google, and more. In this course, you will learn how to ideate solutions for existing applications and execute thoughtful solutions with Sketch, prototyping tools, and Origami. Pre-requisites: Have basic prior design knowledge in Adobe Photoshop, Illustrator or other graphic design programs. It's preferred that you have access to a MacBook and Sketch but you may also use Windows or alternative graphic design programs.
    </p>
    <p>
      <a href='https://paper.dropbox.com/doc/INFO-1998-Intro-to-Digital-Product-Design-Pre-test-SP18-yRDfY4ONfCoWLF37qPqFK' target="_blank" class="red-link">Design Course Application</a>
      (Class will be every Wednesday 7:30-8:30pm starting Feb. 28)
    </p>
    <p><i>Note: There is a pre-test that you have to complete, so start early! We will be accept applications on a rolling basis and will reach out by email whether you have been accepted as soon as we can.</i></p>
  </div>

  <!-- Core Team Stuff -->
  <div class="app-section">
    <p class="subtitle"><strong>Applications for the Core Team are now closed. Check back in Fall 2018!</strong></p>
    <!-- <p>
      We are always looking for new talented iOS developers, Android developers, backend developers, and designers to join our project team! Our members are passionate about taking apps from idea to product, culminating with releases on the App Store. If you're interested in working in a startup environment and gaining practical experience in software development, design, and product management, then AppDev is the team for you!
    </p>
    <p>
      <a href='https://cornellappdev.typeform.com/to/nk0ziI' target="_blank" class="red-link">Core Team iOS Developer Application</a></br>
      <a href='https://cornellappdev.typeform.com/to/HQQfmg' target="_blank" class="red-link">Core Team Android Developer Application</a><span id="label">New!</span></br>
      <a href='https://cornellappdev.typeform.com/to/rSUobJ' target="_blank" class="red-link">Core Team Backend Developer Application</a></br>
      <a href='https://cornellappdev.typeform.com/to/u2pO6L' target="_blank" class="red-link">Core Team Designer Application</a></br>
    </p>
    <p><i>Note: Core Team interviews will take place Feb. 7 - 8, and decisions will be made by Friday, Feb. 9.</i></p> -->
  </div>

  <!-- <strong>Core Team Marketing / Business Application (Due Sunday, 9/10 at 11:59pm)</strong></br>
  The apps have been built and more are in the pipeline. Your job, if you choose to accept it, is to help share our carefully
  crafted products with the world. You will be responsible for running marketing campaigns throughout the year to promote
  our apps on and off campus. You will help lead efforts to promote the AppDev brand within school and beyond. Coordinating
  hype videos, creating promotional content, planning AppDev tech talks, and signing up corporate sponsors will be some of
  your responsibilities. You will have a team of talented marketers, designers, and developers to support you along the way.
  </br>
  <a href='http://markops.cornellappdev.com' class='red-link'>Application</a> -->

</div>
