<div class="happy fadein">
	<div class="filter fadein">
		<p class="text text-white text-large">
			Apply to our Core Team or Training Programs
		</p>
	</div> 
</div>

<div class="white-barz fadein">
	<div class="slogan modified-slogan">
		Applications
	</div>
	<p class="text-black text-paragraph">
		<strong>Developer Training Program</strong></br>
		Perfect for those looking to become acquiated with mobile development. </br><a class="red-link" href="#" target="_blank">Coming Soon</a> 
	</br> 
	</br> 
		<strong>Designer Training Program</strong></br>
		Learn about generating mockups, designs ideologies, UI / UX testing, etc. </br><a class="red-link" href="#" target="_blank">Coming Soon</a> 
	</br> 
	</br>
		<strong>Developer Core Team</strong></br>
		We have positions for mobile developers, backend developers, and DevOps architects. </br><a class="red-link" href="#" target="_blank">Coming Soon</a> 
	</br> 
	</br>
		<strong>Designer Core Team</strong></br>
		Apply to join some of the most creative minds on campus. </br><a class="red-link" href="#" target="_blank">Coming Soon</a> 
	</p>


</div> 