<div class="contact-top fadein">
  <p class="text-white text-top text-large">
    Contact Us
  </p>
  <p class="text-white text-bottom">
    For general questions, feedback, or business / </br>legal inquiries, you can reach us at cuappdev@gmail.com
  </p>
</div>
