<div class="gates-hall fadein">
  <div class="filter fadein">
    <p class="text text-white text-large">
      Cornell App Development </br>
      We make apps
    </p>
  </div>
</div>

<%= render partial: 'components/faq' %>

<div class="white-barz fadein">
  <div class="slogan modified-slogan">Who are we?</div>
  <p class="text-black text-paragraph">
    Cornell App Development (AppDev) is a project team at Cornell University dedicated to mobile app development. Every year, we take apps from idea to product, culminating with a release on the App Store. We give students the opportunity to work in a startup environment and gain practical experience in software development, design, and product management.  Our team is made up of talented designers, developers, and visionaries who collaborate to bring projects to life.</br>
    <a class="red-link" href="/projects">View our past work</a>
  </p>
</div>

<div class="offwhite-barz fadein">
  <div class="slogan modified-slogan">Want to learn how to make iOS apps?</div>
  <p class="text-black text-paragraph">
    We are not only passionate about making, but also engaging the community to participate in what we do. Every semester, we run 10-week training programs for Cornell students interested in learning about iOS development, product design, and backend development. Many of our past students have gone on to become impactful designers and developers on our core team and in the industry.</br>
    <a class="red-link" href="/training">Learn more about our training programs</a>
  </p>
</div>

<div class="white-barz fadein">
  <div class="slogan modified-slogan">Have an idea?</div>
  <p class="text-black text-paragraph">
    We are always on the lookout for great app ideas to bring to life.  If you think you have a killer idea,
    <a class="red-link" href="/contact">submit a proposal</a>.  If we choose it, you'll get credit on our site for your stroke of genius!
  </p>
</div>

<%= render partial: 'components/stay_tuned' %>
