<%= render partial: 'components/headers/home_header' %>
<%= render partial: 'components/high-action/apply_now' %>

<div class="navbar-change white section fadein">
  <div class="section-title">Who are we?</div>
  <p>
    <strong>Cornell AppDev</strong> is a project team at Cornell University dedicated to mobile and web application development. We design, develop, and distribute apps on the App Store (and soon the web and Google Play Store) to give students the opportunity to work in a startup environment and gain practical experience in software development, design, and product management. Our team is made up of talented designers, developers, and visionaries who collaborate to bring projects to life.
  </p>
  <a class="red-link" href="/projects">View our past work</a>
</div>

<div class="offwhite section fadein">
  <div class="section-title">Want to learn how to make apps?</div>
  <p>
    We are not only passionate about making, but also engaging the community to participate in what we do. Every semester, we run 10-week courses for Cornell students interested in learning about iOS development, product design, and backend development. Many of our past students have gone on to become impactful designers and developers on our core team and in the industry.
  </p>
  <a class="red-link" href="/courses">Learn more about our courses</a>
</div>

<div class="white section fadein">
  <div class="section-title">Have an idea?</div>
  <p>
    We are always on the lookout for great app ideas to bring to life.  If you think you have a killer idea,
    <a class="red-link" href="/contact">submit a proposal</a>.  If we choose it, you'll get credit on our site for your stroke of genius!
  </p>
</div>

<%= render partial: 'components/action/stay_tuned' %>
