<div class="training fadein">
  <p class="text text-white text-large">
    Our Training Programs
  </p>
</div>


<div class="white-barz fadein">
  <div class="text-center slogan why">Why should you join our training program?</div>
</div>

<div class="offwhite-barz fadein">
  <div class="slogan modified-slogan">
    Learn Mobile Development or Design
  </div>
  <p class="text-black text-paragraph">Our programs are geared towards beginners in the areas of mobile development or design.  We have a program for each discipline.
  </p>
</div>

<div class="white-barz fadein">
  <div class="slogan modified-slogan">
    Open to anyone
  </div>
  <p class="text-black text-paragraph">
    Students from any college or major are encouraged to apply.  You <strong>do not</strong> need to be an engineer, CS major, or design major to succeed in our programs or join our team.
  </p>
</div>


<div class="offwhite-barz fadein">
  <div class="slogan modified-slogan">
    What we'll cover
  </div>
  <p class="text-black text-paragraph">We'll start with the basics and follow a logical progression to more advanced concepts.  By the end of the course, you will know enough to be a Junior Developer or Designer on the team.
  </p>
</div>


<div class="white-barz fadein">
  <div class="slogan modified-slogan">
    Requirements
  </div>
  <p class="text-black text-paragraph">
    <strong>For Developers</strong></br>
    From week one, the program will assume no prior knowledge of iOS development or even computer science.  However, in the interest of time, we will not be spending much time on low-level programming concepts.  For this reason, we insist that applicants have previously taken or be concurrently taking CS 1110 or equivalent.
  </br>
  </br>
    <strong>For Designers</strong></br>
    No hard requirements exist for our design training program.  Anyone interest in UI / UX design, user testing, etc. is encouraged to apply!
  </p>
</div>


<div class="offwhite-barz fadein">
  <div class="slogan modified-slogan">
    FAQ
  </div>
  <p class="text-black text-paragraph">
    <strong>How long and frequent are lectures?</strong></br>
    Lectures will be 1 hour in length and will be once per week.  Developer training will meet on Mondays at 7:30pm and design training will meet on Wednesdays at 7:30pm.  Additionally, a homework project will be assigned weekly and will be due the night before the following week's session.
  </br>
  </br>
    <strong>Can I take this program for credit?</strong></br>
    Accepted trainees will receive 1 course credit for completing the program.  It will be a S/U credit.
  </br>
  </br>
    <strong>Do I have to be a certain year or in a certain school to apply?</strong></br>
    There is no major or year requirement to apply. Students enrolled in any school are welcome.
  </p>


</div>
