<%= render partial: 'components/training_header' %>

<div class="navbar-change white-barz fadein">
  <div class="slogan modified-slogan">
    What are our training programs?
  </div>
  <p class="text-black text-paragraph">
    Every semester, we run 10-week training programs for Cornell students interested in learning more about the design and development of mobile apps. Each training program is taught by our core team members and can be taken for 1 credit S/U. The program involves attending a 1-hour lecture once a week and completing a weekly project, culminating in a final project at the end of the program. We currently offer three training programs: iOS development, product design, and backend development.
  </p>
</div>

<div class="offwhite-barz fadein">
  <div class="slogan modified-slogan">
    Open to anyone
  </div>
  <p class="text-black text-paragraph">
    Students from any college or major are encouraged to apply.  You <strong>do not</strong> need to be an engineer, CS major, or design major to succeed in our programs or join our team. Our training programs are geared towards beginners in the areas of mobile app development, backend development, and product design.
  </p>
</div>

<div class="white-barz fadein">
  <div class="slogan modified-slogan">
    What we'll cover
  </div>
  <p class="text-black text-paragraph">We'll start with the basics and follow a logical progression to more advanced concepts. By the end of the course, you will know enough to be a Junior iOS Developer, Backend Developer, or Designer on our core team.
  </p>
</div>


<div class="offwhite-barz fadein">
  <div class="slogan modified-slogan">
    Requirements
  </div>
  <p class="text-black text-paragraph">
    <strong>For Developers</strong></br>
    From week one, the program will assume no prior knowledge of iOS/backend development or even computer science.  However, in the interest of time, we will not be spending much time on low-level programming concepts. For this reason, we insist that applicants have previously taken or are concurrently taking CS 1110 (or have equivalent familiarity with basic computer science fundamentals).
  </br>
  </br>
    <strong>For Designers</strong></br>
    No hard requirements exist for our design training program.  Anyone interest in UI / UX design, user testing, etc. is encouraged to apply!
  </p>
</div>


<div class="white-barz fadein">
  <div class="slogan modified-slogan">
    FAQ
  </div>
  <p class="text-black text-paragraph">
    <strong>How long and frequent are lectures?</strong>
    </br>
      Lectures will be 1 hour in length and will be held once per week. Additionally, a homework project will be assigned weekly and will be due the night before the following week's session.
    </br></br>
    <strong>Can I take this program for credit?</strong>
    </br>
      Accepted trainees will receive 1 course credit for completing the program. It will be a S/U credit.
    </br></br>
    <strong>Do I have to be a certain year or in a certain school to apply?</strong>
    </br>
    There is no major or year requirement to apply. Students enrolled in any school are welcome.
    </br></br>
    <strong>Can I take more than one training program in the same semester?</strong>
    </br>
    Yes, if your schedule permits, you can enroll in more than one training program. Many past students have successfully completed both the developer and design training program in the same semester. However, please be mindful that the training programs will be what you make out of it, so make sure you have the time to handle the workload for both programs!
  </p>
</div>

<%= render partial: 'components/interested_in_joining' %>
