<div class="training fadein">
	<p class="text text-white text-large">
		Our Training Program
	</p>
</div>


<div class="white-barz fadein">
	<div class="text-center slogan why">Why should you join our training program?</div>
</div>


<div class="offwhite-barz fadein">
	<div class="slogan modified-slogan">
		Open to anyone 
	</div>
	<p class="text-black text-paragraph">
		Students from any college or major are encouraged to apply.  You <strong>do not</strong> need to be an engineer or a CS major to succeed in this program or join our team.  
	</p>
</div>


<div class="white-barz fadein">
	<div class="slogan modified-slogan">
		What we'll cover 
	</div>
	<p class="text-black text-paragraph">We'll start with the basics and follow a logical progression to more advanced concepts.  By the end of the course, you will know enough to be a Junior Developer on our team.
	</p> 
</div> 


<div class="offwhite-barz fadein">
	<div class="slogan modified-slogan">
		Requirements 
	</div>
	<p class="text-black text-paragraph">
		From week one, the program will assume no prior knowledge of iOS development or even computer science.  However, in the interest of time, we will not be spending much time on low level programming concepts.  For this reason, we insist that applicants have previously taken or be concurrently taking CS 1110 or equivalent.  
	</p>
</div> 


<div class="white-barz fadein">
	<div class="slogan modified-slogan">
		FAQ
	</div>
	<p class="text-black text-paragraph">
		<strong>How long and frequent are lectures?</strong></br>
		Lectures will be 1 hour in length and will be once per week.  Additionally, a homework project will be assigned weekly and will be due the night before the following week's session. 
	</br> 
	</br> 
		<strong>Can I take this program for credit?</strong></br>
		Accepted trainees will receive 1 course credit for completing the program.  It will be a S/U credit.  
	</br> 
	</br>
		<strong>Do I have to be a certain year or in a certain school to apply?</strong></br>
		There is no major or year requirement to apply.  Freshman through Seniors enrolled in any school are welcome. 
	</br> 
	</br>
		<strong>Is there a training program for designers?</strong></br>
		YES!  We decided to start one this semester run by 2 of the designers on our team (both of which have interned or will be interning at Facebook).  Sign up for it <a class="red-link" href="/apply">here</a>.
	</p>


</div> 
