<footer class="footer">
	<div class="container">

		<!-- Top bar --> 
		<div class="row">
			<a class="col-xs-6 col-md-offset-2 col-md-2 text-center footer-nav" href="/">Home</a>
			<a class="col-xs-6 col-md-2 text-center footer-nav" href="/recruitment">Recruitment</a>
			<a class="col-xs-6 col-md-2 text-center footer-nav" href="/training">Training</a>
			<a class="col-xs-6 col-md-2 text-center footer-nav" href="/apply">Apply</a> 
		</div> 

		<div class="container col-xs-12 col-md-7">
			<!-- first column row --> 
			<div class="row">
				<a href="/team" class="col-xs-offset-3 col-xs-2 col-md-3 footer-column">Team</a>
				<a href="/projects" class="col-xs-2 col-md-3 footer-column" >Projects</a> 
				<a href="https://github.com/cuappdev" class="col-xs-2 col-md-3 footer-column" target="_blank">Github</a> 
			</div> 

			<!-- second column row --> 
			<div class="row">
				<a href="https://www.linkedin.com/company/cornell-app-development-cuappdev-" class="col-xs-offset-3 col-xs-2 col-md-3 footer-column" target="_blank">LinkedIn</a>
				<a href="/contact" class="col-xs-2 col-md-3 footer-column">Contact Us</a>
			</div> 




			<!-- fourth column row --> 
			<div class="row">
				

			</div>

		</div>

		<div class="container col-xs-12 col-md-5">
			<div class="col-xs-offset-2 col-md-offset-0 col-xs-10">
				<!-- 
				<div class="text-white text-small" style="margin-left: 0px;">Join our Mailing List</div> 
				-->
				<div class="footer-enter-email">
					<!-- 
					<form class="footer-form mailing-form">
						<div>
							<div class="form-group">
								<input type="email" 
									value=""
									placeholder="e.g. foo1@cornell.edu"
									class="form-control email-field col-xs-8 footer-email-input" 
									style="margin-top:0px;"/>
							</div>
						</div>
					</form> 
					--> 
					<a href="https://cuappdev.typeform.com/to/EijMRG"><button type="submit" class="btn btn-primary" style="padding-left: 20px !important; padding-right: 20px !important;">Join Our Mailing List</button></a> 
				</div>
				<div class="row footer-column email-result"></div>
			</div>



		</div>

		<div class="row copyright col-xs-12 col-md-7">
			<p class="col-xs-offset-0 col-xs-12 col-md-offset-1 col-md-12"> &copy; 2016	 Cornell App Development | cuappdev@gmail.com | Site made by Joe Antonakakis</p> 
		</div>

	</div>

	

</footer>


