<nav class="pages-navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <%= image_tag "appdev_logo.png", alt: "", class: "navbar-brand-logo" %>
      </a>

    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right" id="right-menu">
        <!-- Different links -->
        <li><a href="/" class="nav-element">Home</a></li>
        <li><a href="/projects" class="nav-element">Projects</a></li>
        <li><a href="/team" class="nav-element">Core Team</a></li>
        <li><a href="/training" class="nav-element">Training Programs</a></li>
        <li><a href="/recruitment" class="nav-element">Recruitment</a></li>
        <li><a href="/apply" class="nav-element" id="apply-button">Apply</a></li>
      </ul>
    </div>
  </div>
</nav>
