<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand navelement" href="/">
        <%= image_tag "cuappdev_logo_720.png", alt: "", style: "width:200px;height:25px;" %>
      </a>

    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right" id="right-menu">
        <!-- Different links -->
        <li><a href="/" class="navelement">Home</a>  </li>
        <li><a href="/recruitment" class="navelement">Recruitment</a></li>
        <li><a href="/training" class="navelement">Training</a></li>
        <li><a href="/team" class="navelement">Team</a></li>
        <li><a href="/apply"><div class="button nav-button">Apply</div></a></li>

      </ul>
    </div>
  </div>
</nav>
