.app-section {
  margin-bottom: 20px;
}

.app-section-title {
  margin-bottom: 10px;
}

#label {
  color: orange;
  border: 1px solid orange;
  font-size: 10px;
  padding: 4px;
  margin-left: 4px;
  border-radius: 4px;
  display: inline;
}

#apply-now {
  color: white !important;
}