.gates-hall {
  font-weight: 400;
  background: image-url('gates.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-title p {
  margin: 0;
}