<div class="header-component apply-header fadein">
  <div class="header-component-content">
    <p class="header-component-title">Join Us</p>
    <p class="header-component-description">Apply to our Core Team or Training Programs.</p>
  </div>
</div>
