<div class="action-component fadein text-center">
  <div class="component-width">
    <div class="bold size-24">Have an idea?</div>
    <p class="component-width vpad-20 semibold size-14">
      We are always on the lookout for great app ideas to bring to life. If you think you have a killer idea, <a class='red-link' href='#'>submit a proposal</a>. If we choose it, you'll get credit on our site for your stroke of genius!
    </p>
    <a class='red-button size-14' href='#'>I have one!</a>
  </div>
</div>
