<div class="action-component fadein text-center">
  <div class="bold size-24">Interested in Joining?</div>
  <p class="vpad-20 semibold size-14">
    We are always on the lookout for new talents to join our team.<br>
    We are looking forward to work with you!
  </p>
  <a class='red-button size-14' href='/apply'>Apply</a>
</div>
