<div class="header-component projects-header fadein">
  <div class="header-component-content">
    <p class="header-component-title">Building impactful solutions</p>
    <p class="header-component-description">Our products are used throughout the Cornell community to help individuals to quickly implement solutions to the problems they face.</p>
  </div>
</div>
