<div class="header-component recruitment-header fadein">
  <div class="header-component-content">
    <p class="header-component-title">A new breed of project team</p>
    <p class="header-component-description">Join a team of the best designers and developers on campus.</p>
  </div>
</div>
