<div class="action-component fadein text-center">
  <div class="component-width">
    <div class="bold size-24">Stay Tuned?</div>
    <p class="vpad-20 semibold size-14">
      Subscribe to our newsletter to be always up-to-date with our application timeline for news, recruitment, and training.
    </p>
    <a class='red-button size-14' href='https://cuappdev.typeform.com/to/EijMRG'>Sign Up!</a>
  </div>
</div>
