<div class="high-action-component fadein">
  <div class="high-action-info">
    <p class='high-action-text'>If you have any questions, please check out our FAQ page for more details.</p>
    <a class='high-action-button white-button' href='#'>FAQ</a>
  </div>
</div>
