<div class="high-action-component fadein">
  <div class="high-action-info">
    <p class='high-action-text'>Applications for joining our core team and training programs are now LIVE!</p>
    <a class='high-action-button white-button' id="apply-now" href='/apply'>Apply now</a>
  </div>
</div>
