<div class="header-component apply-header fadein">
  <div class="header-component-content">
    <p class="header-component-title">Join Us</p>
    <p class="header-component-description">We are always on the lookout for new talents to join our team, as well as passionate individuals who want to learn in our courses!</p>
  </div>
</div>
