<div class="header-component contact-header fadein">
  <div class="header-component-content">
    <p class="header-component-title">Contact Us</p>
    <p class="header-component-description">
      For general questions, feedback, or business / </br>legal inquiries, you can reach us at
      <a href="mailto:team@cornellappdev.com" class="appdev-email">team@cornellappdev.com</a>.
    </p>
  </div>
</div>
