<div class="home-header fadein">
  <div class="filter fadein">
    <div class="text home-title">
      <p class="text-white text-xlarge">
      Cornell <strong>AppDev</strong> </br>
      </p>
      <p class="text-white text-medium">
        The application development project team at Cornell University
      </p>
    </div>
  </div>
</div>
