<div class="header-component team-header fadein">
  <div class="header-component-content">
    <p class="header-component-title">Who we are</p>
    <p class="header-component-description">Our team is made up of talented designers, developers, and visionaries who collaborate to bring projects to life.</p>
  </div>
</div>
