global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    {% for server in backend_servers %}
    server {{server.name}} {{server.ip}}:{{server.port}} {{server.params}}
    {% endfor %}

listen stats
    bind *:{{stat_port}}
    stats enable
    stats scope www
    stats scope servers
    stats uri /

