<div class="action-component fadein text-center">
  <div class="component-width">
    <div class="component-title">Interested in Joining?</div>
    <p class="component-subtitle">
      We are always on the lookout for new talents to join our team. We are looking forward to work with you!
    </p>
    <a class='red-button' href='/apply'>Apply</a>
  </div>
</div>
